input {
  outline: none;
  width: 33%;
  height: 2rem;
  padding-left: 2rem;
}

div > li {
  margin: 5px 5px;
  list-style-type: none;
}

button {
  color: #fff;
  background-color: black;
  border-radius: 5px;
  padding: 0.7rem;
}
button:hover {
  background-color: rgb(147, 138, 138);
}
